/* variables */

/* CSS Reset */

* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
