@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@500&display=swap");

/* variables */

:root {
  /* fonts */
  --ff-outfit: "Outfit", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --default-font-size: 16px;

  /* colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

/* CSS Reset */

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* general styling */

h2,
p {
  font-family: var(--ff-outfit);
}

.img-container {
  width: 100px;
  height: 100px;
}
img {
  display: block;
  width: 50%;
  height: 50%;
}

section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3rem;
}
.content-creation {
  background-color: var(--yellow-100);
}

.social,
.non-stop-content {
  background-color: var(--purple-500);
  color: var(--white);
}

.management,
.audience-grow {
  background-color: var(--white);
}

.scheduling {
  background-color: var(--purple-100);
}

.ai,
.consistency {
  background-color: var(--yellow-500);
}

/* Grid */

main {
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 16%);
  grid-template-rows: repeat(30, 3.3%);
  column-gap: 1rem;
}

.social,
.non-stop-content {
  grid-column: span 2;
}

.content-creation {
  grid-row: 1 / 13;
}
.content-creation,
.ai {
  grid-column: 1 / 2;
}

.ai {
  grid-row: 13/27;
}

.social {
  grid-column: 2/4;
  grid-row: 1/11;
}

.scheduling {
  grid-column: 4/5;
  grid-row: 1/19;
}

.management,
.consistency {
  grid-row: 11/19;
}

.management,
.audience-grow {
  grid-column: 2/3;
  box-shadow: 2px 2px 1px rgba(13, 13, 13, 0.121);
}

.consistency {
  grid-column: 3/4;
}

.non-stop-content {
  grid-column: 3/5;
  grid-row: 19/27;
}

.audience-grow {
  grid-row: 19/27;
}
