@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* variables */

:root {
  /* fonts */
  --ff-DM: "DM Sans", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --default-font-size: 18px;

  /* colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

/* CSS Reset */

* {
  margin: 0;

  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* general styling */

h2,
p,
span {
  font-family: var(--ff-DM);
  font-weight: var(--fw-regular);
}

.italic {
  font-style: italic;
}

.img-container {
  width: 100px;
  height: 100px;
}
img {
  display: block;
  width: 50%;
  height: 50%;
}

section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3rem;
}
.content-creation {
  background-color: var(--yellow-100);
}

.social,
.non-stop-content {
  background-color: var(--purple-500);
  color: var(--white);
}

.management,
.audience-grow {
  background-color: var(--white);
}

.scheduling {
  background-color: var(--purple-100);
}

.ai,
.consistency {
  background-color: var(--yellow-500);
}

/* Grid */

main {
  height: 100vh;
  width: 90%;
  padding: 0 2rem;
  margin: 2rem auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(28, 3.6%);
  column-gap: 2rem;
}

.content-creation {
  grid-row: 1 / 14;
  font-size: 1.5em;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quicker {
  color: var(--purple-500);
}

.content-creation div {
  margin: 1rem;
}

.content-creation div img {
  display: block;
  width: 11rem;
  height: 5rem;
}
.content-creation,
.ai {
  grid-column: 1 / 2;
}

.ai {
  grid-row: 15/29;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ai div {
  height: 70%;
}
.ai img {
  display: block;
  height: 100%;
  width: 100%;
}

.social {
  grid-column: 2/4;
  grid-row: 1/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ten-multiple {
  color: var(--yellow-500);
}

.social h2,
.social p,
.non-stop-content h2 {
  font-weight: var(--fw-medium);
  text-align: center;
  margin: 1rem;
}

.social h2 {
  font-size: 3.7rem;
  line-height: 3.5rem;
}

.social img {
  display: block;
  width: 10rem;
  height: 1.5rem;
}
.scheduling {
  grid-column: 4/5;
  grid-row: 1/20;
  overflow: hidden;
}

.scheduling div,
img {
  display: block;
  margin: 0.5rem;
  height: 60%;
}

.scheduling img {
  width: 20.5em;
  height: 100%;
}

.scheduling p {
  margin-top: 1rem;
}

.management,
.consistency {
  grid-row: 12/20;
}

.management,
.audience-grow {
  grid-column: 2/3;
  box-shadow: 2px 2px 1px rgba(13, 13, 13, 0.121);
}

.consistency {
  grid-column: 3/4;
}

.non-stop-content {
  grid-column: 3/5;
  grid-row: 21/29;
}

.audience-grow {
  grid-row: 21/29;
}
