@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* variables */

:root {
  /* fonts */
  --ff-DM: "DM Sans", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --default-font-size: 18px;

  /* colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

/* CSS Reset */

* {
  margin: 0;

  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* general styling */

h2,
p,
span {
  font-family: var(--ff-DM);
  font-weight: var(--fw-regular);
}

h2 {
  font-weight: var(--fw-medium);
  font-size: 1.8rem;
  line-height: 1.5rem;
}

.italic {
  font-style: italic;
}

section {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3rem;
}
.content-creation {
  background-color: var(--yellow-100);
}

.social,
.non-stop-content {
  background-color: var(--purple-500);
  color: var(--white);
}

.management,
.audience-grow {
  background-color: var(--white);
}

.scheduling {
  background-color: var(--purple-100);
}

.ai,
.consistency {
  background-color: var(--yellow-500);
}

/* Grid */

main {
  height: 105vh;
  width: 90%;
  padding: 0 2rem;
  margin: 2rem auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(28, 3.6%);
  column-gap: 2rem;
}

.content-creation {
  grid-row: 1 / 14;
  font-size: 1.5em;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.quicker {
  color: var(--purple-500);
}

.img-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.content-creation .img-container {
  background-image: url(/assets/images/illustration-create-post.webp);

  background-size: contain;
  margin: auto;
  height: 80px;
}

.content-creation,
.ai {
  grid-column: 1 / 2;
}

.ai {
  grid-row: 15/29;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ai .img-container {
  background-image: url("assets/images/illustration-ai-content.webp");
  height: 100%;
  background-size: contain;
  background-position: center;
  margin: auto;
}

.social {
  grid-column: 2/4;
  grid-row: 1/11;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
}

.social .img-container {
  background-image: url("assets/images/illustration-five-stars.webp");
  height: 100%;
  background-position: center;
  padding: 1rem;
  background-size: contain;
}

.ten-multiple {
  color: var(--yellow-500);
}

.social h2,
.social p,
.non-stop-content h2 {
  font-weight: var(--fw-medium);
  text-align: center;
  margin: 1rem;
}

.social h2 {
  font-size: 3.7rem;
  line-height: 3.5rem;
}

.scheduling {
  grid-column: 4/5;
  grid-row: 1/20;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}

.scheduling .img-container {
  background-image: url("assets/images/illustration-schedule-posts.webp");
  margin: 0.5rem;
  background-size: cover;
  height: 60%;
  position: relative;
  left: 2rem;
}

.scheduling p {
  margin-top: 1rem;
}

.management,
.consistency {
  grid-row: 12/20;
}

.management,
.audience-grow {
  grid-column: 2/3;
  box-shadow: 2px 2px 1px rgba(13, 13, 13, 0.121);
}

.consistency {
  grid-column: 3/4;
  position: relative;
  padding: 1.2rem;
  line-height: 1.5rem;
}

.consistency .img-container {
  background-image: url("assets/images/illustration-consistent-schedule.webp");
  padding: 1rem;
  height: 100%;
  position: relative;
  top: 1.2rem;
}

.management {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.management .img-container {
  background-image: url("assets/images/illustration-multiple-platforms.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.non-stop-content {
  grid-column: 3/5;
  grid-row: 21/29;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
}

.non-stop-content .img-container {
  height: 100%;
  background-image: url("assets/images/illustration-grow-followers.webp");
  background-size: contain;
}

.non-stop-content h2 {
  text-align: start;
  font-size: 2.5rem;
  line-height: 2.2rem;
}

.audience-grow {
  grid-row: 21/29;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audience-grow .img-container {
  height: 40%;
  background-position: center;
  background-size: contain;
  background-image: url("assets/images/illustration-audience-growth.webp");
}

.audience-grow h2 {
  font-size: 3em;
}
